<div class="navbar">
<h1>Wikinimous</h1>
<%= link_to "New article", new_article_path %>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <% @articles.each do |article| %>
                <div class='article'> 
                    <h3> <%= link_to article.title, article_path(article) %> </h3>
                    <p> <%= article.content %></p>
                </div>
            <% end %>
        </div>
    </div>
</div>